.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &__title {
        font-size: clamp(1.8rem, 10vw + 1rem, 2.8rem);
        // font-size: clamp(3.052rem, 10vw, 2.2rem);
        font-weight: bold;
        color: $blue;
        margin-bottom: 2rem;
    }
    &__content {
        // font-size: 1.2rem;
        color: $grey;
        margin: 0 auto 2rem auto;
        max-width: 65ch;
    }
}

.hippa-badge {
    aspect-ratio: 180 / 98;
    width: 160px;
    background-image: url(../img/hippa-compliant.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}