#main-nav {
    .navbar-brand {
        background-image: url(../img/rxmile-logo--blue.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top left;
        height: 50px;
        min-width: 180px;
        margin-right: 0;
    }
    .navbar-nav {
        a {
            font-weight: 500;
            font-size: 0.875rem;
        }
    }
    background-color: white;
    @media (min-width:992px) {
        background-color: transparent;
    }
    .navbar-toggler {
        color: $pink;
    }
}